@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-purple-100: #f3e8ff;
  --color-purple-800: #6b21a8;
  --color-blue-100: #dbeafe;
  --color-blue-800: #1e40af;
  --color-green-100: #dcfce7;
  --color-green-800: #166534;
  --color-gray-200: #e2e8f0;

  --color-primary: #ea580c;
  --color-secondary: #0f172a;
  --color-secondary-light: #2563eb;

  --color-yellow-app: #facc15;

  --color-background: #ffffff;
  --color-gray-light: #475569;

  --font-inter: Inter, sans-serif;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background: var(--color-background);
  font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;

  max-width: 90rem;
  margin: 0 auto;
  padding: 0 5rem;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
