@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #ea580c;
  --color-secondary: #0f172a;
  --color-secondary-light: #2563eb;
  --color-background: #ffffff;
  --color-gray-light: #475569;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background: var(--color-background);
  /* color: var(--color-secondary); */
  font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;

  max-width: 90rem;
  margin: 0 auto;
  padding: 0 5rem;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
